<div class="main">
    <form id="form" (ngSubmit)="onSubmit()">
        <div class="user">
            <label for="username">Username</label>
            <i class="bi bi-person"></i>
            <input type="text" id="username" placeholder="Username" name="username" [(ngModel)]="username">
        </div>
        <div class="pass">
            <label for="password">Password</label>
            <i class="bi bi-lock"></i>
            <input type="password" id="password" placeholder="Password" name="password" [(ngModel)]="password">
        </div>
        <div class="pass">
            <label for="password">Repeat password</label>
            <i class="bi bi-lock"></i>
            <input type="password" id="password" placeholder="Password" name="password" [(ngModel)]="password">
        </div>
        <button  type="submit" class="btn">Sign Up</button>
        <hr/>
        <div class="link">
            <a id="reg-link" routerLink="/sign-in">Login</a>
        </div>
    </form>
</div>
<router-outlet></router-outlet>
  