<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="/segment/src/assets/img/logo.PNG" alt="">
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2">Products</a></li>
        <li><a href="#" class="nav-link px-2">Profile</a></li>
        <li><a href="#" class="nav-link px-2">Cart</a></li>
        <li>
          <a href="#" class="nav-link px-2 dropdown-toggle" id="navDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">Category</a>
          <ul class="dropdown-menu" aria-labelledby="navDrop">
            <li><a class="dropdown-item" href="#">Women</a></li>
            <li><a class="dropdown-item" href="#">Men</a></li>
            <li><a class="dropdown-item" href="#">Kids</a></li>
            <li><a class="dropdown-item" href="#">All</a></li>
          </ul>
      </li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2" routerLink="/sign-in">Login</button>
        <button type="button" class="btn btn-primary" routerLink="/sign-up">Sign-up</button>
      </div>
    </header>
</div>
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Online Shop</h1>
          <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-body-tertiary h-100">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" *ngFor="let product of products">
          <div class="col">
            <div class="card shadow-sm" style="width: 300px; height: 300px;">
              <img class="bd-placeholder-img card-img-top" [src]="product.image"/>
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"(click)="addToCart(product.Id)">Buy</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToCart(product.Id)">To cart</button>
                  </div>
                  <p class="text-body-secondary">{{ product.price | currency }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</main>