<div class="main">
    <header>
        <div class="left-bar">
            <nav>
                <a href="" class="link">Женщины</a>
                <a href="" class="link">Мужчины</a>
                <a href="" class="link">Дети</a>
            </nav>
        </div>
        <div class="logo">
            <p id="logo">segment</p>
        </div>
        <div class="right-bar">
            <nav>
                <div class="links">
                    <i class="bi bi-search"></i>
                </div>
                <div class="links">
                    <i class="bi bi-person"></i>
                </div>
                <div class="links">
                    <i class="bi bi-bag"></i>
                </div>
            </nav>
        </div>
    </header>
</div>
