<div class="main">
    <header>
        <div class="left-bar">
            <nav>
                <a href="" class="link">Women</a>
                <a href="" class="link">Men</a>
                <a href="" class="link">Children</a>
            </nav>
        </div>
        <div class="logo">
            <p id="logo">segment</p>
        </div>
        <div class="right-bar">
            <nav>
                <a class="links">
                    <i class="bi bi-search"></i>
                </a>
                <a class="links">
                    <i class="bi bi-person"></i>
                </a>
                <a class="links">
                    <i class="bi bi-bag"></i>
                </a>
            </nav>
        </div>
    </header>
</div>
