@import "~bootstrap-icons/font/bootstrap-icons.css";
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #FAEDCD;
}
#form {
    display: block;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 2rem;
    background: #fff;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.btn {
    display: block;
    margin: .5rem auto;
    padding: .5rem 4rem;
    border-radius: .5rem;
    border: none;
    background: #FAEDCD;
    font-weight: 700;
    font-size: 1rem;
}
.user {
    display: inline-block;
    vertical-align: middle;
}
.bi.bi-person {
    display: inline;
    margin-right: .3rem;
}
.bi.bi-lock {
    align-items: center;
    margin-right: .3rem;
}
input {
    margin: .5rem auto;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    background: #faedcd59;
}
label {
    display: block;
    font-weight: 525;
    margin-left: 1.4rem;
}